<!DOCTYPE html>
<html>

<head>
    <title><%= name %> - Develop</title>
</head>

<body>

    <h1>Develop <%= type %></h1>
    <p>Your <%= type %> is displayed below</p>

    <div id="viewport">
        <%- template %>

    </div>

</body>

</html>